build
certifi
charset-normalizer
distro
gitdb
GitPython
idna
Jinja2
librt
MarkupSafe
mypy
mypy_extensions
numpy
packaging
pandas
patchelf
pathspec
pip
pkginfo
PyMuPDF
pyproject_hooks
PySide6
PySide6_Addons
PySide6_Essentials
python-dateutil
requests
setuptools
shiboken6
six
smmap
tqdm
typing_extensions
urllib3
wheel
